body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 2em;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
}

.card {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    width: 48%; /* Adjust width as needed */
    height: 600px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.full-width {
    width: 100%;
}

.widget-height{
    height: 200px;
}

.tooltip {
    width: 200px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px;
    font-size: 10px;
}

.bar-icon{
    height: 70px;
    width: 120px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.violin_header_container{
    border: 2px solid #343a40; /* Dark border */
    border-radius: 10px; /* Rounded corners */
    /*background-color: #f8f9fa;  Light background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Small shadow */
    padding: 5px;
    /* background-color: #F0F8FF; */

}

#violin_header_right{
    float: right;
    /* width: 100px; */
    border-radius: 0px;
}

.button {
    background-color: #4CAF50; /* Green background */
    border: none;             /* No border */
    color: white;             /* White text */
    padding: 7px 25px;       /* Top and bottom padding, Left and right padding */
    text-align: center;       /* Centered text */
    text-decoration: none;    /* No underline on the text */
    display: inline-block;    /* Inline block element */
    font-size: 16px;          /* Font size */
    margin: 2px 2px;          /* Margin around the button */
    transition-duration: 0.4s; /* Animation duration */
    cursor: pointer;          /* Cursor indicates clickable item */
    border-radius: 8px;       /* Rounded corners */
  }
  
  .button:hover {
    background-color: white;  /* White background on hover */
    color: black;             /* Black text on hover */
    border: 2px solid #4CAF50; /* Green border on hover */
  }